@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/functions';

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colours: (
  "onyx": #3C3C3C,
  "lilac": #B48EAE,
  "l-blue": #9BBEC7,
  "fawn": #F4B886,
  "sky-blue": #2EC0F9
);

$theme-colors: map-merge($theme-colors, $custom-colours);

@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";


@each $color, $value in $custom-colours {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
  .border-#{$color} {
    border-color: $value;
  }
}