:root {
  --bs-hover-ring-color: white;
  --bs-hover-ring-blur: 15px;
  --bs-hover-ring-width: 15px;
}

.hover-ring {
  transition: box-shadow 1s ease;
}

.hover-ring:hover {
  box-shadow: 0 0 var(--bs-hover-ring-blur) var(--bs-hover-ring-color);
  transition: box-shadow 1s ease;
}

.w-md-50 {
  width: 100%;
}

@media (min-width: 768px) {
  /*.md-border {
      border-left: 4px solid white;
      border-right: 4px solid white;
  }*/
  .md-rounded-5 {
      border-radius: 2rem; 
  }
  .w-md-50 {
    width: 50%;
  }
}